{% extends "base.html" %}

{% block content %}
<section id="sect">
  <div id="u"><div id="titulo">Publicidad</div></div>
      <div id="contDatos">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div id="campo">
          <p>Posición:</p>
            {{ formulario.posicion }}       
        </div>
        <div id="campo">
          <p>Título:</p>
          {{ formulario.titulo }}
        </div>
        <div id="campo">
          <p>Imagen actual:</p>
            <p style="margin-left: 0; margin-right: 0; width: 280px;"><a target="_blank" href="{{ MEDIA_URL }}{{ formulario.imagen.value }}">{{ formulario.imagen.value }}</a></p>
        </div>
        <div id="campo">
          <p>Cambiar imagen:</p>
            {{ formulario.imagen }}       
        </div>
        <div id="campo">
          <p>Link:</p>
          {{ formulario.link }}
        </div>
        <div id="campo2">
        	<p><br>
          <strong>Esta imagen no debe ser mayor a 955 pixeles de ancho y 90 pixeles de alto</strong></p>
        </div>

        {% if formulario.errors %}
        {% for error in formulario.errors %}<p style="color:red;">{{ error }}</p>{% endfor %}
        {% endif %}

        <div id="campo2">
        	<input class="btn" type="submit" value="Guardar" >
        </div>
        </form>
      </div>
      
      
      
    	
    </section>
{% endblock %}